@import './container';
@import './styles';

* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

*:focus {
    outline: none;
}

body {
    margin: 0px;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
}